body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1e3dd;
    color: #667292;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8d9db6;
    padding: 20px;
    color: white;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #bccad6;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

.text-content {
    max-width: 60%;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #667292;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background-color: #8d9db6;
}

.image-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    object-fit: cover;
    margin-top: 20px;
}

footer {
    background-color: #8d9db6;
    color: white;
    padding: 10px;
    text-align: center;
}
