<style>
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1e3dd;
    color: #667292;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #8d9db6;
    padding: 20px;
    color: white;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #bccad6;
}

.hobbies-container {
    display: flex;
}

.hobbies-sidebar {
    background-color: #333;
    color: white;
    width: 25%;
    text-align: center;
    padding: 40px 20px;
}

.hobbies-graphic {
    width: 175px;
    height: 175px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
}

.hobbies-graphic img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.hobbies-content {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.hobby-item {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.hobby-graphic {
    width: 175px;
    height: 175px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
}

.hobby-graphic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



}

footer {
    background-color: #8d9db6;
    color: white;
    padding: 10px;
    text-align: center;
}
</style>
